---
http_interactions:
- request:
    method: get
    uri: http://crossref.org/openurl/?format=unixref&id=doi:10.1016/j.jaridenv.2006.12.024&noredirect=true&pid=fake-pid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1016\" timestamp=\"2012-02-07 09:58:56\">\r\n    <crossref>\r\n
        \     <journal>\r\n        <journal_metadata language=\"en\">\r\n          <full_title>Journal
        of Arid Environments</full_title>\r\n          <abbrev_title>Journal of Arid
        Environments</abbrev_title>\r\n          <issn media_type=\"print\">01401963</issn>\r\n
        \       </journal_metadata>\r\n        <journal_issue>\r\n          <publication_date
        media_type=\"print\">\r\n            <month>7</month>\r\n            <year>2007</year>\r\n
        \         </publication_date>\r\n          <journal_volume>\r\n            <volume>70</volume>\r\n
        \         </journal_volume>\r\n          <issue>2</issue>\r\n        </journal_issue>\r\n
        \       <journal_article publication_type=\"full_text\">\r\n          <titles>\r\n
        \           <title>Rainfall trends in arid and semi-arid regions of Iran</title>\r\n
        \         </titles>\r\n          <contributors>\r\n            <person_name
        contributor_role=\"author\" sequence=\"first\">\r\n              <given_name>Reza</given_name>\r\n
        \             <surname>Modarres</surname>\r\n            </person_name>\r\n
        \           <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \             <given_name>Vicente</given_name>\r\n              <surname>de
        Paulo Rodrigues da Silva</surname>\r\n            </person_name>\r\n          </contributors>\r\n
        \         <publication_date media_type=\"print\">\r\n            <month>7</month>\r\n
        \           <year>2007</year>\r\n          </publication_date>\r\n          <pages>\r\n
        \           <first_page>344</first_page>\r\n            <last_page>355</last_page>\r\n
        \         </pages>\r\n          <publisher_item>\r\n            <item_number
        item_number_type=\"sequence-number\">S0140196307000225</item_number>\r\n            <identifier
        id_type=\"pii\">S0140196307000225</identifier>\r\n          </publisher_item>\r\n
        \         <doi_data>\r\n            <doi>10.1016/j.jaridenv.2006.12.024</doi>\r\n
        \           <resource>http://linkinghub.elsevier.com/retrieve/pii/S0140196307000225</resource>\r\n
        \         </doi_data>\r\n        </journal_article>\r\n      </journal>\r\n
        \   </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Tue, 10 Dec 2013 20:26:39 GMT
- request:
    method: get
    uri: http://crossref.org/openurl/?format=unixref&id=doi:10.1002/(SICI)1096-9837(199908)24:8%3C693::AID-ESP992%3E3.0.CO%3B2-7&noredirect=true&pid=fake-pid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\[...]
