---
http_interactions:
- request:
    method: get
    uri: http://crossref.org/openurl/?format=unixref&id=doi:10.1000/non-locatable-doi&noredirect=true&pid=fake-pid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record>\r\n
        \   <crossref>\r\n      <error>doi:10.1000/non-locatable-doi DOI not found
        in CrossRef</error>\r\n    </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Tue, 10 Dec 2013 20:33:09 GMT
recorded_with: VCR 2.8.0
